In [6]:
import pandas as pd
data = {'age' : [25,23,55,54],
       'name': ['나','동생','아빠','엄마'],
       'height': [174, 163, 172, 162]}
x= pd.DataFrame(data, columns = ['name', 'age', 'height'])
x

  name  age  height
0    나   25     174
1   동생   23     163
2   아빠   55     172
3   엄마   54     162

In [28]:
x.iloc[:, 2]

0    174
1    163
2    172
3    162
Name: height, dtype: int64

In [19]:
x.iloc[1]

name       동생
age        23
height    163
Name: 1, dtype: object

In [25]:
x.iloc[1, 0]

'동생'

In [20]:
print(x.mean(axis=0))

age        39.25
height    167.75
dtype: float64